:root {
    --tile-size: 7.5vw;
    --primary-color: #4CAF50;
    --primary-hover-color: #45a049;
}

html {
    font-family: "Calibri", sans-serif;
    display: grid;
    grid-auto-flow: row;
    justify-items: center;
    align-items: center;
    width: 100%;
    row-gap: 2.5em;
}

body {
    margin: 0;
    padding: 0;
    width: 100%;
}

.content {
    display: grid;
    justify-items: center;
}

.navbar {
    background-color: var(--primary-color);
    height: 5em;
    display: grid;
    grid-auto-flow: column;
    justify-items: center;
    align-items: center;
    margin-bottom: 1em;
    grid-template-columns: repeat(10, 1fr);
}

a {
    font-weight: bold;
    text-decoration: none;
    height: 100%;
    width: 100%;
    display: grid;
    justify-items: center;
    align-items: center;
    color: black;
}

a:hover {
    background-color: var(--primary-hover-color);
}

a:visited {
    color: black;
}

button, input[type="button"] {
    padding: 10px 20px;
    border: none;
    border-radius: .25em;
    font-size: 14px;
    cursor: pointer;
    font-weight: bold;
}

.primary-button {
    background-color: var(--primary-color);
    color: white;
}

.primary-button:hover {
    background-color: var(--primary-hover-color);
}

.secondary-button {
    background-color: #ddd;
    color: #333;
}

.secondary-button:hover {
    background-color: #bbb;
}