.selection-container {
    display: grid;
    justify-content: end !important;
    grid-auto-flow: column;
    column-gap: 1em;
    row-gap: 1em;
}

label {
    font-size: 20px;
}

h3 {
    font-size: 26px;
    text-decoration: underline;
}