.bookings-container {
    display: grid;
    grid-auto-flow: row;
    justify-items: center;
    align-items: center;
    row-gap: 1em;
}

.card {
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    width: 300px;
    display: grid;
    row-gap: 1em;
}

.center {
   text-align: center;
}

.time-fields {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.time-field {
    display: grid;
    grid-auto-flow: column;
    align-items: center;
    justify-items: start;
    grid-template-columns: 1fr 1fr;
    gap: 0.25em;
    width: 100%;
}

.booker-field {
    display: grid;
    grid-auto-flow: column;
    align-items: center;
    justify-items: start;
    grid-template-columns: 1fr 1fr;
    gap: 0.25em;
    width: 100%;
}

.buttons {
    display: grid;
    grid-auto-flow: column;
    column-gap: 1em;
}

.buttons * {
    width: 10em;
}