.map {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(5, 1fr);
    background-color: #b0bec5;
    width: auto;
    height: auto;
    padding: 2vw;
    border-radius: .25em;
}

.class-room,
.class-room-inactive {
    display: grid;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin: .1em;
    background-color: var(--primary-color);
    border: 1px solid black;
    border-radius: .25em;
    font-size: 1.5vmax;
    font-weight: bold;
    width: var(--tile-size);
    height: var(--tile-size);
    box-sizing: border-box;
}

.class-room-inactive {
    cursor: default;
    background-color: rgba(187, 187, 187, 0.68);
    color: rgba(68, 68, 68, 0.62);
    border: 1px solid #999;
}

.class-room:hover {
    background-color: var(--primary-hover-color);
}