.login-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 80vh;
    width: 100%;
}

.login-box {
    background-color: #f9f9f9;
    padding: 2em;
    border-radius: .5em;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 300px;
}

.login-box h2 {
    margin-bottom: 1em;
    color: #333;
}

.login-box input[type="text"],
.login-box input[type="password"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 1em;
    border: 1px solid #ccc;
    border-radius: .25em;
    font-size: 14px;
}

.login-box button {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: .25em;
    background-color: var(--primary-color);
    color: white;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
}

.login-box button:hover {
    background-color: var(--primary-hover-color);
}

.error-message {
    color: red;
    margin-bottom: 1em;
}
