{% extends 'base.html' %}

{% block content %}

    {% load static %}
    <link rel="stylesheet" href="{% static 'add-bookings-feedback.css' %}">

    <div class="container">
        <span>
            Klassenraum
            <span class="bold">{{ booking.name }}</span>
            von
            <span class="bold">{{ booking.from_time|date:"d. M Y" }}</span>
            bis
            <span class="bold">{{ booking.to_time|date:"d. M Y" }}</span>
            gebucht.
        </span>
    </div>

{% endblock content %}