{% extends 'base.html' %}

{% block content %}

	{% load static %}
	<link rel="stylesheet" href="{% static 'booking-feedback.css' %}">

	<div class="container">
        <span>
	        Klassenraum
            <span class="bold">{{ booking.room.name }}</span>
            für den Zeitraum
            <span class="bold">{{ booking.fromTime|date:"d. M Y H:m" }}</span>
            bis
            <span class="bold">{{ booking.toTime|date:"d. M Y H:m" }}</span>
		        gebucht.
        </span>
		<form
				method="get"
				action="{% url 'index' %}">
			<button type="submit" class="secondary-button">Zurück zur Startseite</button>
		</form>
	</div>

{% endblock content %}