<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Buchungssystem Schulraum</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'base.css' %}">
    <link rel="stylesheet" href="{% static 'login.css' %}">
</head>
<body>
    <div class="navbar">
        {% if user.is_authenticated %}
            {% if user.is_staff %}
            <a class="firstTile" href="{% url 'index' %}">Übersicht &#127979;</a>
            <a class="secondTile" href="{% url 'view_bookings' %}">Deine Buchungen &#128366;</a>

            {% if request.path == '/' %}
                <form class="thirdTile" method="get" action="{% url 'index' %}">
                    <label>
                        <input type="checkbox" name="hasBeamer" value="true" {% if request.GET.hasBeamer == "true" %}checked{% endif %}
                               onchange="this.form.submit()">
                        Raum mit Beamer
                    </label>

                    <label>
                        Minimale Sitzplätze:
                        <input type="number" name="seats" min="1" value="{{ request.GET.seats|default:'' }}"
                               onchange="this.form.submit()">
                    </label>
                </form>
            {% endif %}

            {% endif %}
            {% block navbarCenter %}
                <span class="centerTile">Raumübersicht</span>
            {% endblock %}

            <form class="lastTile" action="{% url 'logout' %}" method="post" style="display:inline;">
                {% csrf_token %}
                <button type="submit">Logout</button>
            </form>
            <span class="secondToLastTile">Eingeloggt als: <br>{{ user.username }}</span>
        {% else %}
            <a href="{% url 'login' %}">Login</a>
        {% endif %}
    </div>

    <div class="content">
        {% block content %}
        {% endblock %}
    </div>
</body>
</html>
