<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Buchungssystem Schulraum</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'base.css' %}">
</head>
<body>
    <div class="navbar">
        <a href="{% url 'index' %}">Startseite</a>
        <a href="{% url 'view_bookings' %}">Deine Buchungen</a>
    </div>

    <div class="content">
        {% block content %}
        {% endblock %}
    </div>
</body>
</html>