{% extends 'base.html' %}

{% block content %}

	{% load static %}
	<link rel="stylesheet" href="{% static 'booking-feedback.css' %}">

	<div class="container">
        <span>
          {% if action == "DELETE" or action == "EDIT" %}
            Buchung für
          {% endif %}
	        Klassenraum
            <span class="bold">{{ booking.room.name }}</span>
            <br><br>von
            <p><span class="bold">{{ booking.fromTime|date:"d.m.Y H:i" }} Uhr</span></p>
            bis
            <p><span class="bold">{{ booking.toTime|date:"d.m.Y H:i" }} Uhr</span></p>
	        {% if action == "ADD" %}
		        gebucht.
	        {% elif action == "EDIT" %}
		        aktualisiert.
	        {% elif action == "DELETE" %}
		        gelöscht.
	        {% endif %}
        </span>
        <br>

        {% if action == "DELETE" or action == "EDIT" %}
            <form
				method="get"
				action="{% url 'view_bookings' %}">
            <button type="submit" class="secondary-button">Zurück zu meinen Buchungen</button>
        </form>
        {% endif %}

        {% if action == "ADD" %}
        <form
				method="get"
				action="{% url 'index' %}">
            <button type="submit" class="secondary-button">Zurück zur Startseite</button>
        </form>
        {% endif %}

	</div>

{% endblock content %}
