{% extends 'base.html' %}

{% block navbarCenter %}
    <span class="centerTile">Deine Buchungen</span>
{% endblock navbarCenter %}

{% block content %}

    {% load static %}
    <link rel="stylesheet" href="{% static 'bookings.css' %}">

    <div class="bookings-container">
        {% for booking in bookings %}
            <div class="card">
                <div>Klassenraum {{ booking.room.name }}</div>
                <div class="time-fields">
                    <div class="time-field">
                        <div>Von:</div>
                        <div type="time" id="from-time">{{ booking.fromTime|date:"d. M Y H:m" }}</div>
                    </div>
                    <div class="time-field">
                        <div>Bis:</div>
                        <div type="time" id="to-time">{{ booking.toTime|date:"d. M Y H:m" }}</div>
                    </div>
                </div>
                <div class="buttons">
                 <form
                    method="get"
                    action="{% url 'show_edit_booking' id=booking.id %}">
                    {% csrf_token %}
                    <button type="submit" class="secondary-button">Bearbeiten</button>
                </form>
                <form
                    method="post"
                    action="{% url 'delete_booking' id=booking.id %}">
                    {% csrf_token %}
                    <button type="submit" class="secondary-button">Löschen</button>
                </form>
            </div>
            </div>
        {% empty %}
            <h3>Du hast keine Buchungen getätigt</h3>
            <form
	            method="get"
	            action="{% url 'index' %}">
	            <button type="submit" class="secondary-button">Zurück zur Startseite</button>
            </form>
        {% endfor %}
    </div>

{% endblock content %}