{% extends 'base.html' %}

{% block navbarCenter %}
    <span class="centerTile">Raum {{ class_room.name }}</span>
{% endblock navbarCenter %}

{% block content %}

    {% load static %}
    <link rel="stylesheet" href="{% static 'class-room-option-select.css' %}">

    <label>Dieser Raum hat <strong>{{ class_room.seats }}</strong> Sitzplätze.</label>
    <br>
    {% if class_room.hasBeamer %}
        <label>Dieser Raum <strong>besitzt einen</strong> Beamer.</label>
    {% else %}
        <label>Dieser Raum <strong>besitzt keinen</strong> Beamer.</label>
    {% endif %}
    <br>

    <h3>Optionen</h3>


    <div class="selection-container">
        <input class="secondary-button" type=button value="Zurück" onClick="history.go(-1);">
        <form
                method="get"
                action="{% url 'class_room_bookings' id=class_room.id %}">
            <button type="submit" class="secondary-button">Buchungen anzeigen</button>
        </form>
        <form
                method="get"
                action="{% url 'class_room_add_booking' id=class_room.id %}">
            {% csrf_token %}
            <button type="submit" class="secondary-button">Buchung erstellen</button>
        </form>
    </div>

{% endblock content %}