{% extends 'base.html' %}

{% block navbarCenter %}
    <span class="centerTile">Buchung erstellen für Raum {{ class_room.name }}</span>
{% endblock navbarCenter %}

{% block content %}

    <title>Klassenraum</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'class-room-add-booking.css' %}">

    <div class="card">
        <div class="class-room-id">Klassenraum {{ class_room.name }}</div>

        <form
            method="post"
            action="{% if action == 'ADD' and class_room %}
                        {% url 'add_booking' id=class_room.id %}
                    {% elif booking and booking.id %}
                        {% url 'edit_booking' id=booking.id %}
                    {% endif %}" method="post">
            {% csrf_token %}
            <div class="time-fields">
                <div class="time-field">
                    <label for="from-time">Von:</label>
                    <input type="datetime-local" id="from-time" name="fromTime" value="{% if booking %}{{ booking.fromTime|date:'Y-m-d\TH:i' }}{% endif %}">
                </div>
                <div class="time-field">
                    <label for="to-time">Bis:</label>
                    <input type="datetime-local" id="to-time" name="toTime" value="{% if booking %}{{ booking.toTime|date:'Y-m-d\TH:i' }}{% endif %}">
                </div>
            </div>
            <div class="buttons">
                <input type="hidden" name="room" value="{{ class_room.id }}">
                <input type="hidden" name="user" value="{{ request.user.id }}">

                <input class="secondary-button" type="button" value="Zurück" onClick="history.go(-1);">
                <button id="submit-button" type="submit" class="primary-button" disabled>Speichern</button>
            </div>
        </form>
    </div>

    <script>
        document.addEventListener('DOMContentLoaded', function() {
            const fromTimeInput = document.getElementById('from-time');
            const toTimeInput = document.getElementById('to-time');
            const submitButton = document.getElementById('submit-button');

            function checkFormValidity() {
                if (fromTimeInput.value && toTimeInput.value) {
                    submitButton.disabled = false;
                    submitButton.style.opacity = 1;
                    submitButton.style.pointerEvents = 'auto';
                } else {
                    submitButton.disabled = true;
                    submitButton.style.opacity = 0.5;
                    submitButton.style.pointerEvents = 'none';
                }
            }

            fromTimeInput.addEventListener('input', checkFormValidity);
            toTimeInput.addEventListener('input', checkFormValidity);

            checkFormValidity();
        });
    </script>

{% endblock %}
