{% extends 'base.html' %}

{% block navbarCenter %}
    <span class="centerTile">Buchungen für Raum {{ class_room.name }}</span>
    <form class="thirdTile" method="get" action="{% url 'class_room_bookings' id=class_room.id %}">
            <div>
                <label for="booking-date">Datum:</label><br>
                <input type="date" id="booking-date" name="date" value="{{ selected_date|date:'Y-m-d' }}"
                       onchange="this.form.submit()">
            </div>
        </form>
{% endblock navbarCenter %}

{% block content %}

    {% load static %}
    <link rel="stylesheet" href="{% static 'class-room-bookings.css' %}">

    <div class="bookings-container">
        {% for booking in bookings %}
            <div class="card">
                <div class="time-fields">
                    <div class="time-field">
                        <div>Von:</div>
                        <div type="time" id="from-time">{{ booking.fromTime|date:"d.m.Y, H:i" }} Uhr</div>
                    </div>
                    <div class="time-field">
                        <div>Bis:</div>
                        <div type="time" id="to-time">{{ booking.toTime|date:"d.m.Y, H:i" }} Uhr</div>
                    </div>
                </div>
            <div class="booker-field">
	            <div>Gebucht von:</div>
	            <div id="to-time">{{ booking.user.username }}</div>
            </div>
            </div>
        {% empty %}
            {% if selected_date != null %}
                <h3>Keine Buchungen für diesen Klassenraum am {{ selected_date|date:"d.m.Y" }} vorhanden</h3>
            {% else %}
                <h3>Keine Buchungen für diesen Klassenraum vorhanden</h3>
            {% endif %}
            <div class="buttons">
	            <input class="secondary-button" type="button" value="Zurück" onClick="resetDateAndSubmit()">
		          <form
		            method="get"
		            action="{% url 'index' %}">
		            <button type="submit" class="secondary-button">Startseite</button>
	            </form>
            </div>
        {% endfor %}
    </div>


    <script>
        function resetDateAndSubmit() {

        var form = document.querySelector('form');
        var dateInput = document.querySelector('#booking-date');

        dateInput.value = null;

        form.submit();
        }
    </script>
{% endblock content %}