{% extends 'base.html' %}

{% block navbarCenter %}
    <span class="centerTile">Buchung erstellen für Raum {{ class_room.name }}</span>
{% endblock navbarCenter %}

{% block content %}

    <title>Klassenraum</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'class-room-add-booking.css' %}">

    <div class="card">
        <div class="class-room-id">Klassenraum {{ class_room.name }}</div>

        <form
            method="post"
            action="{% if action == 'ADD' and class_room %}{% url 'add_booking' id=class_room.id %}{% elif booking and booking.id %}{% url 'edit_booking' id=booking.id %}{% endif %}" method="post">
            {% csrf_token %}
            <div class="time-fields">
                <div class="time-field">
                    <label for="from-time">Von:</label>
                    <input type="time" id="from-time" name="fromTime" value="{% if booking %}{{ booking.fromTime|date:"H:m" }}{% endif %}">
                </div>
                <div class="time-field">
                    <label for="to-time">Bis:</label>
                    <input type="time" id="to-time" name="toTime" value="{% if booking %}{{ booking.toTime|date:"H:m" }}{% endif %}">
                </div>
            </div>
            <div class="buttons">
                <input type="hidden" name="room" value="{{ class_room.id }}">
                <input type="hidden" name="user" value="{{ request.user.id }}">

                <input class="secondary-button" type=button value="Zurück" onClick="history.go(-1);">
                <button type="submit" class="primary-button">Speichern</button>
            </div>
        </form>
    </div>

{% endblock %}