{% extends 'base.html' %}

{% block content %}

    {% load static %}
    <link rel="stylesheet" href="{% static 'index.css' %}">

    <div class="map">
        {% for class_room in class_rooms %}

            <form
                method="get"
                action="{% url 'class_room_options_select' id=class_room.id %}"
                style="grid-row: {{ class_room.top|add:1 }}; grid-column: {{ class_room.left|add:1 }};">
                <button type="submit" class="class-room">
                    {{ class_room.name }}
                </button>
            </form>
        {% endfor %}
    </div>

{% endblock content %}